<% provide(:title, 'Stickers Server Administration') %>


<h1>Stickers Server Administration</h1>
<p>Welcome to the LocateMyStickers sticker server administration tool.</p>
<p>The following <a href="#locations">locations</a> are continuously sent by our stickers and stored to this server.</p>
<p>The <a href="http://web-service.locatemystickers.com">web service</a> asks the locations that our web, iOs and Android client applications need to this server.</p>


<div class="well well-padding paper-shadow">
	<h2><%= link_to 'Locations', locations_path %></h2>
	Browse all the locations contained on the server.
</div>

<div class="well well-padding paper-shadow">
  <h2><%= link_to 'Configurations', sticker_configurations_path %></h2>
  Browse all the configurations that were set to our clients stickers.
</div>

<div class="well well-padding paper-shadow">
  <h2><%= link_to 'Web sockets', web_sockets_path %></h2>
  Web sockets rock
</div>


<% content_for :topnav do %>
<% end %>
