<% provide(:title, 'Locations') %>

<%= render 'locations_list_tool' %>

<% content_for :topnav do %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %> / </li>
      <li class="active">Locations</li>
    </ol>
<% end %>
